@import 'variables/variables.scss';

.app.dark-mode {
  .children-component-container {
    background-color: $dark-mode;
    color: #fff;
  }

  //*Navbar(pass)*
  .navbar-container {
    .MuiToolbar-root {
      background-color: $secondary-color;
    }
  }

  // *Table*
  .table-container {
    td {
      a {
        font-weight: bold;
        color: $secondary-color;
      }
    }

    th,
    td,
    .table-pagination,
    .MuiBox-root {
      color: #fff;
      background-color: $dark-mode;
    }

    tr {
      border-bottom: 1px solid #fff;
    }

    .add-user-button {
      background-color: $secondary-color;
    }

    .MuiTablePagination-actions button {
      color: #fff;
    }

    .MuiInputBase-root svg {
      color: #fff !important;
    }

    .MuiTableContainer-root {
      border-radius: 0 !important;
    }
  }

  //*User Page*
  .user-page-container {
    .user-page-card {
      background-color: $dark-mode;
    }

    div {
      color: #fff;
    }

    p {
      color: grey;
    }
  }

  //*Footer*
  .footer-container {
    background-color: $secondary-color !important;
  }
}
