@import 'sass-utils/variables';

.delete-user-dialog {
  &.dark-mode {
    .MuiPaper-root {
      background-color: $dark-color;
      color: $light-color;
      p {
        color: $light-color;
      }
    }
  }
}
