@import 'sass-utils/variables.scss';

.delete-user-dialog {
  &.dark-mode {
    .MuiPaper-root {
      background-color: $dark-mode;
      color: $light-mode;
      p {
        color: $light-mode;
      }
    }
  }
}
