@import 'sass-utils/variables';

.footer-container {
  background-color: $primary-color !important;
  height: 56px;

  .footer-navigation-action {
    color: $light-color;
    font-weight: 400;

    .footer-icon {
      font-size: 20px;
      margin-bottom: 5px;

      &:active {
        transform: scale(0.9);
      }
    }

    .footer-github-icon {
      color: #000;
    }

    .footer-linkedin-icon {
      color: #0029b1;
    }

    &.footer-text {
      span {
        font-family: $navbar-footer-error-font;
        font-size: 16px;
      }
    }
  }
}
