@import 'sass-utils/variables.scss';

.user-page-container {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .user-page-card {
    width: 390px;
    border: 2px solid grey;

    .user-page-card-content {
      p {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        span {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .go-back-home-button-container {
    display: flex;
    margin-top: 40px;
    width: 100%;
    .go-back-home-button {
      margin-left: 3%;
      font-size: 48px;
      cursor: pointer;
      color: $primary-color;
    }
  }
}
