@import 'sass-utils/variables';
@import 'sass-utils/mixins';

.user-page-container {
  @include flex-column;
  height: 600px;
  align-items: center;

  .user-page-card {
    width: 390px;
    border: 2px solid grey;
    margin-top: 10%;
    cursor: pointer;

    .user-page-card-content {
      p {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        span {
          font-size: 20px;
          margin-left: 10px;
        }
      }
    }
  }

  .go-back-home-button-container {
    display: flex;
    margin-top: 60px;
    width: 100%;
    .go-back-home-button {
      margin-left: 3%;
      font-size: 48px;
      color: $primary-color;
      cursor: pointer;
    }
  }
}
